table {
    width: 100%;
    margin-top: -1.4rem;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

.container_report{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_report_title{
    font-size: 1.25em;
    font-weight:600;
    color: rgb(234, 227, 227);
    line-height: 1.2em;
    margin: 20px 0;
}

.container_report_table{
    margin-bottom: 120px;
}


