<!-- Pagina de inicio sistema control de Asistencia -->
<!-- Path: src\app\components\home\home.component.html -->
<div class="home">
    <div class="home_container">
        <div class="home_container_title">
            <h1>Control de Asistencia</h1>
        </div>
        <div class="home_container_text">
            <p>Este sistema permite el control de asistencia de los empleados de la empresa.</p>
        </div>
        <div class="home_container_img">
            <img src="assets/img/logoImprenta.jpeg" alt="img">
        </div>
    </div>
</div>